.container {
    padding: 16px 48px;
    background-color: var(--container-background);
    transition: all 0.3s linear;
    .cardGrid {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding: 16px 18px;
    }
}