$darkModeElements: hsl(209, 23%, 22%);
$darkModeBackground: hsl(207, 26%, 17%);
$lightModeText: hsl(200, 15%, 8%);
$lightModeInput: hsl(0, 0%, 52%);
$lightModeBackground: hsl(0, 14%, 91%);
$whiteTextAndBackground: hsl(0, 100%, 100%);
$darkBoxShadow: hsl(200, 9%, 19%);