.container {
    background-color: white;
    height: 52px;
    box-shadow: 0 0 3px 2px #eee;
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
    .header {
        font-weight: 800;
    }
    .themeButton {
        background: transparent;
        border: none;
        font-family: inherit;
        cursor: pointer;
        outline: none;
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding: 16px 18px;
    }
}